.boxshadow {
    -moz-box-shadow: 0px 2px 32px #323232;
    -webkit-box-shadow: 0px 2px 32px #323232;
    box-shadow: 0px 2px 32px #323232;
    background-color: #fcfcfc;
}

.mypadding {
    padding: 24px;
}

#main_frame {
    background-color: #94C3EA;
}

.mycontent {
    background-color: #94C3EA;
}

h3 {
    color: #fcfcfc;
    text-shadow: 0px 2px 8px #323232;
}